div {
  padding: 10px;
}
#header,
#footer {
  width: auto;
  height: 100px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#header {
  background-color: rgb(204, 204, 204);
}
#footer {
  background-color: rgb(0, 204, 255);
}
#menu1 {
  background-color: rgb(0, 153, 51);
  width: 40%;
  height: 50px;
}
#logo,
#elemento {
  background-color: rgb(0, 51, 102);
  width: 15%;
}
#logo {
  background-color: rgb(0, 51, 102);
  width: 66%;
}

#menu2 {
  background-color: rgb(102, 0, 0);
  width: 66%;
}
#main {
  background-color: transparent;
}
#main-inferior,
#main-superior {
  background-color: transparent;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.texto {
  padding: 20px 0 0 20px;
}
#encabezado {
  background-color: transparent;
  width: 60%;
}
#izquierda {
  background-color: rgb(51, 51, 51);
}
#centro {
  margin-right: 1%;
  margin-left: 1%;
  background-color: rgb(0, 153, 153);
}
#derecha {
  background-color: rgb(255, 153, 51);
}
#izquierda-inferior {
  background-color: rgb(0, 51, 0);
  flex-grow: 1;
}
#derecha-inferior {
  margin-left: 1%;
  background-color: rgb(153, 51, 0);
}
.item {
  flex-basis: 31%;
  height: 250px;
}
